* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #434141;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
    font-size: 22px;
    margin-bottom: 12px;
    font-family: monospace;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background-color: #e0e0e0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #d0d0d0;
  }
  
  .operator {
    background-color: #f08080;
  }
  
  .operator:hover {
    background-color: #d06060;
  }
  
  .equal {
    background-color: #80f080;
  }
  
  .equal:hover {
    background-color: #60d060;
  }
  
  .clear {
    background-color: #f08080;
  }
  
  .clear:hover {
    background-color: #d06060;
  }
  
  .backspace {
    background-color: #f0f080;
  }
  
  .backspace:hover {
    background-color: #d0d060;
  }